<h1><%= @game %></h1>

<% @streams.each do |stream| %>
  <div class="game">
    <h2><%= stream[:channel_name] %><h2>
    <h3><%= stream[:network]%> Viewers</h3>
    <h3><%= stream[:viewer_count]%> Viewers</h3>
    <iframe
       src="<%= stream[:channel_embed_url]%>"
       frameborder="0"
       scrolling="no"

       height="<%= stream[:embed_height]%>"
       width="<%= stream[:embed_width]%>">
    </iframe>
  </div>
<% end %>
